{% load static %}
<div class="section haze no-padding-vertical wf-section">
    <div class="wrapper footer-wrapper">
        <div class="footer">
            <div class="footer-links">
                <h6 class="footer-heading">Shop</h6><a href="shop.html" class="footer-link">All Products</a>
                <div class="w-dyn-list">
                    <div role="list" class="w-dyn-items">
                        <div role="listitem" class="w-dyn-item"><a href="category/accessories.html" class="footer-link">Accessories</a></div>
                        <div role="listitem" class="w-dyn-item"><a href="category/apparel.html" class="footer-link">Apparel</a></div>
                        <div role="listitem" class="w-dyn-item"><a href="category/perfume.html" class="footer-link">Perfume</a></div>
                        <div role="listitem" class="w-dyn-item"><a href="category/shoes" class="footer-link">Shoes</a></div>
                    </div>
                </div>
            </div>
            <div class="footer-links">
                <h6 class="footer-heading">Pages</h6><a href="index.html" aria-current="page" class="footer-link w--current">Home</a><a href="blog" class="footer-link">Blog</a><a href="about.html" class="footer-link">About</a><a href="faq" class="footer-link">FAQ</a>
                <a href="contact.html" class="footer-link">Contact</a>
            </div>
            <div class="footer-links">
                <h6 class="footer-heading">Service</h6><a href="#" class="footer-link">Search Results</a><a href="404.html" class="footer-link">404 Page</a><a href="401.html" class="footer-link">Protected Page</a></div>
            <div class="footer-links">
                <h6 class="footer-heading">Template</h6><a href="template/style-guide.html" class="footer-link">Style Guide</a><a href="template/changelog.html" class="footer-link">Changelog</a><a href="template/licensing" class="footer-link">Licenses</a></div>
            <div class="footer-subscribe">
                <h6 class="footer-heading">Newsletter</h6>
                <div class="w-form">
                    <form id="wf-form-Footer-Form" name="wf-form-Footer-Form" data-name="Footer Form" method="get" class="footer-subscribe-form">
                        <div class="full-width-input-wrapper"><img src="https://assets.website-files.com/5c78e314be5f9f28e205939c/5c7ca621ee880754c5ba8258_at-sign.svg" alt="" class="input-icon" /><input type="email" class="input footer-input w-input" maxlength="256" name="Footer-Subscribe"
                                data-name="Footer Subscribe" placeholder="Email address" id="Footer-Subscribe" required="" /></div><input type="submit" value=" " data-wait="Please wait..." class="footer-subscribe-button w-button" />
                        <div class="form-text-small">We never share your info. View our <a href="faq" class="link-dark">Privacy Policy</a></div>
                    </form>
                    <div class="default-message text-left w-form-done">
                        <div>Thank you! Your submission has been received!</div>
                    </div>
                    <div class="error-message w-form-fail">
                        <div>Oops! Something went wrong while submitting the form.</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="footer-bottom-left">
                <div>Created with love by <a href="https://elasticthemes.com/" target="_blank" class="link-dark">Elastic Themes</a></div>
                <div class="dot-divider"></div>
                <div>Powered by <a href="https://webflow.com/" target="_blank" class="link-dark">Webflow</a></div>
            </div>
            <div class="footer-bottom-right"><img src="{% static '/images/5c78e314be5f9f328105942d_pay-visa.png' %}" alt="" class="payment-icon" /><img src="{% static '/images/5c78e314be5f9f7c96059428_pay-mastercard-color.png' %}"
                    alt="" class="payment-icon" /></div>
        </div>
    </div>
</div>